<div class="product_benefits grey_background pb-5 pt-5">
    <div class="container pt-5 pb-5">
        <div class="row">
            <div class="col-12">
                <h4>BENEFITS</h4>
            </div>
            <div class="col-12 col-lg-4 order-2 order-lg-1">
                <div class="col-12 mt-2 pt-2 mt-lg-5 pt-lg-5 position-relative">
                    <img src="{{ 'Group_175.png' | asset_url}}" alt="" class="pointer_icon_1 img-fluid d-none d-lg-block">
                    <h4 class="mt-3">ADAPTOGENS</h4>
                    <p class="mt-3">Decrease stress and fatigue, increases stamina and boosts your immune system</p>
                </div>
                <div class="col-12 mt-2 pt-2 mt-lg-5 pt-lg-5 position-relative">
                    <img src="{{ 'Group_175.png' | asset_url}}" alt="" class="pointer_icon_1 img-fluid d-none d-lg-block">
                    <h4 class="mt-lg-5 mt-md-3">B VITAMINS</h4>
                    <p class="mt-3">BOOSTS ENDURANCE AND ENERGY PRODUCTION, improves brain function, supports cellular health
                    </p>
                </div>
            </div>
            <div class="col-12 col-lg-4 order-1 order-lg-2">
                <center>
                    <img src="{{ 'lime_5.png' | asset_url}}" class="img-fluid mt-0 mt-md-3" alt="">
                </center>
            </div>
            <div class="col-12 col-lg-4 order-3 order-lg-3">
                <div class="col-12 mt-2 pt-2 mt-lg-5 pt-lg-5 position-relative ">
                    <img src="{{ 'Group_177.png' | asset_url}}" alt="" class="pointer_icon_2 img-fluid d-none d-lg-block">
                    <h4 class="mt-3">VITAMIN D</h4>
                    <p class="mt-3">helps muscle strength and recovery, fights inflammation, helps regulate your immune system
                    </p>
                </div>
                <div class="col-12 mt-2 pt-2 mt-lg-5 pt-lg-5 position-relative">
                    <img src="{{ 'Group_177.png' | asset_url}}" alt="" class="pointer_icon_2 img-fluid d-none d-lg-block">
                    <h4 class="mt-lg-5 mt-md-3">MAGNESIUM</h4>
                    <p class="mt-3">hELPS WITH BODY REGULATION, MOOD, AND METABOLISM</p>
                </div>
            </div>
        </div>
    </div>
</div>