<div class="instagram_section position-relative pb-5 pt-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4>CHECK US OUT ON IG</h4>
                <p class="mt-3 mb-5">FOLLOW US AT @DRINKBARCODE</p>
            </div>
        </div>
        <div class="owl-carousel owl-theme p-5">
            <div class="item">
                <center>
                    <img src="{{ 'IG.jpg' | asset_url}}" alt="">
                </center>
            </div>
            <div class="item">
                <center>
                    <img src="{{ 'IG.jpg' | asset_url}}" alt="">
                </center>
            </div>
            <div class="item">
                <center>
                    <img src="{{ 'IG.jpg' | asset_url}}" alt="">
                </center>
            </div>
            <div class="item">
                <center>
                    <img src="{{ 'IG.jpg' | asset_url}}" alt="">
                </center>
            </div>
            <div class="item">
                <center>
                    <img src="{{ 'IG.jpg' | asset_url}}" alt="">
                </center>
            </div>
            <div class="item">
                <center>
                    <img src="{{ 'IG.jpg' | asset_url}}" alt="">
                </center>
            </div>
        </div>
    </div>
</div>